<h2>Here is the list</h2>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= 'No image found' %>
    <% end %>
    </li>
  <% end %>
</ul>


<%= link_to 'New List', new_list_path %>
